## Question 1

In [5]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

In [6]:
b()
b()
b()
a

Answer a = 6 after 3 calls to b
Calling b gets the global value of a. And sends it to function c which just adds 2 to the global value of a.
Calling b 3 times results in the value of a being 6 since it starts with 0

## Question 2

In [11]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError as e:
        print('File {file_name} not found'.format(file_name=file_name))

In [12]:
file_length(file_name='idterm.py')

File idterm.py not found

## Question 3

In [14]:
class Marsupial:
    def __init__(self):
        self.pouch = []
    
    def put_in_pouch(self, content):
        self.pouch.append(content)
    
    def pouch_contents(self):
        return self.pouch

In [15]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [18]:
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y
    
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    
    def __str__(self):
        return "I am a Kangaroo located at coordinates ({x}, {y})".format(x=self.x, y=self.y)

In [23]:
k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (0, 0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)

## Question 4

In [29]:
def collatz(x):
    print(int(x))
    if x == 1:
        return 
    if x % 2 == 0:
        return collatz(x/2)
    else:
        return collatz(3*x + 1)

In [30]:
collatz(1)

1

In [31]:
collatz(10)

10
5
16
8
4
2
1

## Question 5

In [37]:
def binary(n):
    if n < 2:
        print(n)
    else:
        binary(int(n / 2))
        print (n % 2)

In [38]:
binary(0)

0

In [39]:
binary(1)

1

In [40]:
binary(3)

1
1

In [41]:
binary(9)

1
0
0
1

## Question 6

In [82]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    in_header = False
    tag_level = 0
    def handle_starttag(self, tag, attrs):
        if tag.startswith('h') and len(tag) == 2:
            self.in_header = True
            self.tag_level = int(tag[1]) - 1
            
    def handle_data(self, data):
        if self.in_header:
            tabs = '\t' * int(self.tag_level)
            print(tabs + data)
    
    def handle_endtag(self, tag):
        if tag.startswith('h') and len(tag) == 2:
            self.in_header = False

In [83]:
infile = open('w3c.txt')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
	Principles

## Question 7

## Question 8

### Part a
SELECT Temperature <br>
FROM table

### Part b

SELECT DISTINCT City <br>
FROM table

### Part c

SELECT * <br>
FROM table <br>
WHERE Country = 'India'

### Part d

SELECT * <br>
FROM table <br>
WHERE Season = 'Fall'

### Part e

SELECT City, Country, Season <br>
FROM table <br>
WHERE Rainfall >= 200 and Rainfall <= 400

### Part f

SELECT City, Country, Season <br>
FROM table <br>
WHERE Season = 'Fall' <br>
AND Temperature > 20 <br>
ORDER BY Temperature ASC

### Part g

SELECT SUM(Rainfall) AS TotalRainfall <br>
FROM table <br>
WHERE City = 'Cairo'

### Part h

SELECT Season, SUM(Rainfall) AS TotalSeasonRainfall <br>
FROM table <br>
GROUP BY Season

## Question 9

In [44]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

### Part a

In [46]:
[word.upper() for word in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

### Part b

In [47]:
[word.lower() for word in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

### Part c

In [48]:
[len(word) for word in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

### Part d

In [49]:
[[word.upper(), word.lower(), len(word)] for word in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

### Part e

In [50]:
[word for word in words if len(word) >= 4]

['quick', 'brown', 'jumps', 'over', 'lazy']